.card-container {
  display: flex;
  flex-wrap: wrap; /* Permite que las tarjetas se envuelvan en varias filas */
  gap: 20px; /* Espacio entre las tarjetas */
}

.card {
  flex: 1; /* Todas las tarjetas tendrán el mismo alto */
  background-color: #ffffff;
  box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.75);
  display: flex; /* Importante para hacer que el contenido se ajuste verticalmente */
  flex-direction: column; /* Coloca el contenido en una columna vertical */
}

.card-container2 {
  max-width: 310px;
}

.card-img-top {
  max-width: 100%;
  height: 200px; /* Establece una altura fija para las imágenes */
  object-fit: cover; /* Recortará las imágenes para mantener su relación de aspecto */
}

.card-body {
  flex: 1; /* El cuerpo de la tarjeta se expandirá para ocupar el espacio disponible */
  display: flex;
  flex-direction: column; /* Coloca el contenido en una columna vertical */
}

.btn {
  align-self: flex-end; /* Alinea el botón al final de la tarjeta */
}

.no-border {
  border: 0;
}